@model IEnumerable<App.Models.ParticipantModel>

@{
    ViewData["Title"] = "Deltagare";
}

<a asp-action="Create">Lägg till en ny deltagare</a>
<hr>


<table class="table table-bordered table-striped table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>E-post</th>
            <th>Mobilnummer</th>
            <th>Adressuppgifter</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;"><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Ändra</a></td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.EmailAddress</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Address</td>
                <th style="text-align: center;"><a asp-action="Delete" asp-route-email="@item.EmailAddress"><i style="color: red;" class="fas fa-info-circle">x</i></a></th>
                
                <th style="text-align: center;"><a asp-action="Details" asp-route-email="@item.EmailAddress"><i class="fas fa-info-circle">i</i></a></th>
            </tr>
        }
    </tbody>
  </table>

