@model IEnumerable<App.Models.CourseModel>

@{
    ViewData["Title"] = "Våra utbildningar";
}

<a asp-action="Create">Lägg till en ny kurs</a>
<hr>


<table class="table table-bordered table-striped table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Kursnummer</th>
            <th>Kurstitel</th>
            <th>Kursbeskrivning</th>
            <th>Kurslängd</th>
            <th>Nivå</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Ändra</a>
                </td>
                <td>@item.CourseNumber</td>
                <td>@item.CourseTitle</td>
                <td>@item.CourseDescription</td>
                <td>@item.CourseLength</td>
                <td>@item.CourseComplexity</td>
                <td>@item.CourseStatus</td>
                <th style="text-align: center;"><a asp-action="Delete" asp-route-courseNo="@item.CourseNumber"><i style="color: red;" class="fas fa-info-circle">x</i></a></th>
                
                <th style="text-align: center;"><a asp-action="Details" asp-route-courseNo="@item.CourseNumber"><i class="fas fa-info-circle">i</i></a></th>
            </tr>
        }
    </tbody>
  </table>

